{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<div class="max-w-sm w-full lg:max-w-full lg:flex my-4 mx-4">
  <div
    class="border-4 border-blue-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
  >
    <div class="mb-8">
      <h2 class="font-bold text-xl">
        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
      </h2>
      <p class="text-base">{{ post.text|linebreaksbr }}</p>
    </div>
    <p>published: {{ post.published_date }}</p>
  </div>
</div>
{% endfor %} {% endblock %}
